@import "tailwindcss";

:root {
  --tg-bg-color: #000000;
  --tg-text-color: #ffffff;
  --tg-button-color: #ffffff;
  --tg-button-text-color: #000000;
}

html,
body {
  background: var(--tg-bg-color);
  color: var(--tg-text-color);
}

body {
  margin: 0;
  min-height: 100vh;
}